{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{% endblock %}

{% block content %}

    <div class="posts_slide">
        {% for post in object_list %}
            <div class="post_image_div">
                <a href="{{ post.get_absolute_url }}"><img class="post_image" src="{{ post.image.url }}"/></a>
{#                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>#}
                <h3><span>{{ post.title }}</span></h3>
                <a href="{{ post.get_absolute_url }}"><div class="post_text">{{ post.content|truncatewords_html:50|safe }}</div></a>
            </div>
        {% endfor %}
{#                --------------------------------------------------------------------#}
{#                slider using jssor slider - nice but too hard to customize #}
{#                {% include 'jssor_slider/slider.html' %}#}

{#                --------------------------------------------------------------------#}
{#                {% for post in object_list %}#}
{#                    {% thumbnail post.image "400x200" crop="center" as im %}#}
{#                        <a href="{{ post.get_absolute_url }}">#}
{#                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">#}
{#                        </a>#}
{#                    {% endthumbnail %}#}
{#                     <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br>#}
{#                     <a href="{{ post.get_absolute_url }}">{{ post.content|truncatechars:50|safe }}</a><br>#}
{#                    {{ post.pub_date|date }}<br>#}
{#                {% endfor %}#}
    </div>
{% endblock %}